
  <div class="container" id="footer-container-fluid">
        <div class="container">
          <!---- for footer container ---->
          <div class="row">
                <div class="col-lg-2  col-md-6 col-sm-12 col-xs-12">
                  <ul>
                    <li class="title"> Product  </li>
                    <li> <a href="#"> How It Works? </a> </li>
                    <li> <a href="#"> Contact Us </a> </li>
                    <li> <a href="#"> FAQ's </a> </li>
                    <li> <a href="#"> Privacy Policy </a> </li>
                    <li> <a href="#"> Terms of Service </a> </li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                   
                  <ul>
                    <li class="title"> SDk's  </li>
                    <li> <a href="#"> My Account </a> </li>
                    <li> <a href="#"> Contract Link </a> </li>
                  </ul>
                </div>
                <div class="col-lg-2  col-md-6 col-sm-12 col-xs-12">
                  <ul>
                  <li class="title"> Documentation </li>
                    <li> <a href="#"> Learn API </a> </li>
                    <li> <a href="#"> API version </a> </li>
                    <li> <a href="#"> APi methods </a> </li>
                    <li> <a href="#"> Data Types </a> </li>
                  </ul>
                  <ul>
                    <li class="title"> Licenses </li>
                    <li> <a href="#"> Bootsnip </a> </li>
                    <li> <a href="#"> Boostrap 4.0</a> </li>
                    <li> <a href="#"> Github </a> </li>
                    <li> <a href="#"> Font Awesome.io 5 </a> </li>
                  </ul> 
                </div>
                <div class="col-lg-2  col-md-6 col-sm-12 col-xs-12">
                  <ul>
                    <li class="title"> Find us on </li><br>
                    <li> <a href="#"><button class="w3-button w3-circle w3-light-grey"> <i class="fa fa-facebook" aria-hidden="true"></i> </button></a> </li><br>
                    <li> <a href="#"><button class="w3-button w3-circle w3-light-grey"> <i class="fa fa-twitter" aria-hidden="true"></i></button></a> </li><br>
                    <li> <a href="#"><button class="w3-button w3-circle w3-light-grey"> <i class="fa fa-linkedin" aria-hidden="true"></i> </button></a> </li><br>
 
                  </ul> 
                  
                </div>
                <div class="col-lg-3  col-md-6 col-sm-12 col-xs-12">
                  <ul>                    
                  <li class="address"> +(63) 2452 82763</li> 
                  <li class="address"> @profinder.com.ph </li> 
                  <li class="address"> profinder@gmail.com </li> 
                  </ul> 
                  <ul>                    
                  <li class="address"> 3rd Block Makati, #403</li> 
                  <li class="address"> Phillippines </li> 
                  <li class="address"> Delware 1899 </li> 
                  </ul> 
                  <hr>
                  </div>
              </div>
        </div>
        
        
        
      </div>      <div class="container-fluid" id="sub-footer-container-fluid">
        <footer class="text-center">
      <!-- Copyright removal is not prohibited! -->
      <p class="mb-2"><small>COPYRIGHT © 2018. ALL RIGHTS RESERVED.</small></p>

      <!-- Copyright removal is not prohibited! -->
      </footer>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/web3.min.js"></script>
    <script src="/js/truffle-contract.js"></script>
    <script src="/js/app.js"></script>