
<html lang="en">
      <% include ./partials/head %>

  <body>
    
    <% include ./partials/header %>
    <main role="main">

      
      <section id="statistics" class="user_jumbotron ">
    <div class="cover text-center container">
      <h2 class="heading">FREQUENTLY ASKED QUESTIONS</h2>
                <p class="lead"></p>
                <!--p class="lead">Here's to the crazy ones. The Movers. The Shakers. The Rebels.<br/>
The round pegs in the square holes.
</p-->
      
    </div>
  </section>

</main>
<div style="padding:30px;"> 
<div style="margin:0 200 0 200">
  <div style="margin:30 0 30 0">
  <h3 class="text-left">What do I need to trade on Cryptomemes?</h3>
  <div class="desc">
               It's simple. You need 3 things to get started:
               <ul style="list-style-type: disc;">
                <li>Chrome or Firefox browser on your computer/laptop</li>
                <li>Metamask plugin for your browser - Metamask is a digital wallet</li>
                <li>Ether - a cryptocurrency used to buy/sell cryptomemes</li>
               </ul>
            </div>

  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">How do I install MetaMask?</h3>
  <div class="desc">
               To buy and sell your cryptomeme contracts, you would need to install Metamask digital wallet in your browser.
               <ul style="list-style-type: disc;">
                <li>For firefox - go to <a href="https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/">https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/</a> and click "Add to Firefox"</li>
                <li>For Chrome - go to <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en">https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en</a> and click "Add to Chrome"</li>
               </ul>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">How do I buy Ether?</h3>
  <div class="desc">
               There are two options to add Ether to your Metamask wallet:
               <ul style="list-style-type: disc;">
                <li>For U.S. citizens: You can directly buy ether from Metamask</li>
                <li>For everyone else: You can purchase Ether from any crypto currency exchange. For example: Coinbase which is the easiest and transfer the Ether to your Metamask wallet using their widget.</li>
               </ul>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/PtdMDtCVck0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">Can I use any currency other than Ether to trade on Cryptomemes?</h3>
  <div class="desc">
               No you cannot use any other currency. USD/CAD/BTC or any other cryptocurrency has to be converted to Ether first.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">What is Cryptomemes?</h3>
  <div class="desc">
               Cryptomemes is a game/investing platform......
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">What's the big deal about Cryptomemes?</h3>
  <div class="desc">
               ......
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">How do I buy a meme contract?</h3>
  <div class="desc">
               Go to Cryptomeme marketplace, choose the meme you would like to buy and click "Buy Meme". 
  You will see a popup from metamask for payment. Make sure you have enough ether to cover the purchase and click "Accept"
  And congrats, you own the meme --------
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">My purchase taking time to reflect. Should I be worried?</h3>
  <div class="desc">
               Don't worry. Depending on the network, there might be some delay for the transaction to reflect. If the transaction doesn't go through due to some failure, your Ether will automatically credited back to you.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">Is this a scam?</h3>
  <div class="desc">
               No, this isn't a scam. The code....
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">How are you making money out of this?</h3>
  <div class="desc">
               Cryptomemes takes a small percentage whenever there is a purchase that happens. 
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">Can I trade on Cryptomemes through my phone?</h3>
  <div class="desc">
               Unfortunately, no. The technology that Cryptomemes uses is not yet available in mobile phones.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">Are Cryptomemes a currency/cryptocurrency?</h3>
  <div class="desc">
               No. Think of them as a cryptocollectible. They are more like a digital form of collectibles like figurines, baseball cards. ......
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h3 class="text-left">Why isn't my sale showing on Etherscan?</h3>
  <div class="desc">
               A sale on Etherscan in shown in "internal transactions" tab. If it still doesn't show up yet, you need to wait for some time for it to sync. The delay depends on how much load is currently on the network.
            </div>
  </div>
</div>
</div>
     <% include ./partials/footer %>
  </body>
</html>
