
<html lang="en">
      <% include ./partials/head %>

  <body>
    
    <% include ./partials/header %>

 

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Memes Memes Everywhere</h1>
          <p class="lead text-muted">Memes are precious. They are special. Y U NO Own them? </p>
          <!--p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p-->
        </div>
      </section>

      <div class="album py-5 bg-light">

<div class="container">
      <div id="memeRow" class="row ">
        <!-- PETS LOAD HERE -->
      </div>
      

    <div id="memeTemplate" style="display: none;">
      
    <div id="meme-item" class="col-3 rounded-circle"  >
      <div class="movie-card"><div class="movie-content-header text-center">

            <h3 class="card-title movie-title">Creative</h3>

          </div>
        <div class=" movie-header"><img src="temp" class="meme-img"/></div>
                <div class="movie-content">
      
                  <div class="movie-info">

                    <div class="info-section">
                                    <label>OWNER</label>  <span class="owner">ME</span></p>
                                  </div>

                    <div class="info-section">
                                    <label>Price</label>  <span class="price">ME</span></p>
                                  </div>
                  </div>
                  
                      
                                                      <div class="buy-button">

                        <button class="btn  btn-primary btn-block btn-buy" type="button" data-id="0">Own the Meme</a></button><div>

                  </div>

          </div>
        </div>
      </div>
    </div>


</div>



  
</div>

     <% include ./partials/footer %>
     <script src="/js/index.js"></script>
  </body>
</html>
